body {
    margin: 0;
    height: 100vh;
    font-family: "Comic Sans MS", sans-serif;
}

.kwadraty {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
	margin: 20px;
}

.kwadrat {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: white;
    border: 2px solid #444;
	font-size: 14px;
}


#silver {
	background-color: #C0C0C0;
	color: black;
}

#gray {
	background-color: #808080;
}

#maroon {
	background-color: #800000;
}

#green {
	background-color: #008000;
}

#white {
	background-color: #FFFFFF;
	color: black;
}

#black {
	background-color: #000000;
}

#red {
	background-color: #FF0000;
	color: black;
}

#lime {
	background-color: #00FF00;
	color: black;
}

#navy {
	background-color: #000080;
}

#purple {
	background-color: #800080;
}

#olive {
	background-color: #808000;
}

#teal {
	background-color: #008080;
	border: 4px dotted white;
}

#blue {
	background-color: #0000FF;
}

#magenta {
	background-color: #FF00FF;
	color: black;
}

#yellow {
	background-color: #FFFF00;
	color: black;
}

#cyan {
	background-color: #00FFFF;
	color: black;
}